<html>
	<head>
		<title>Homepage</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cssFiles/homepage.css') }}">
	</head>
	<body>

	   {% include 'htmlTemplates/navigationBar.html' %}

	   <br>
	   <br>
	 

	 <!--gettign all the users flashcards from the variable 'homepageFlashcards' which is declared in the '.py' file. Each flashcard in that list is given the below features:-->
    	{% for flashcard in homepageFlashcards %}


	<!--using a div to set the colour of each flashcard to the one stated in the flashcard objects specification. This is received from the flashcard database table. Also getting each flashcards id from the dataabse table so the specified flashcard can be deleted through id search.  -->
	<div class="flashcard" id="flashcard-{{ flashcard.id }}" style="color: {{ flashcard.textColour }}; background-color: {{ flashcard.backgroundColour }}">

		
		<!--creating a 'delete card' button on each flashcard. The flashcards Id is gotten from the flashcard object list. This Id is used to find the specific card to be deleted.-->
	     <button class="deleteFlashcardButton" data-id="{{ flashcard.id }}">X</button>


             <!--getting this specific flashcards question text to appear on the flashcard displayed on the homepage.--> 
             <p>Question: {{ flashcard.question }}</p>
             
        
             <!--setting the answer text  to be initially hidden, will be shown once the answer button is pressed-->
	     <p class="answerLabel" style="display: none;"> 
	        Answer: {{ flashcard.answer }}</p>

	
	     <button class="showAnswerButton">Show Answer</button>
	    

	</div>

        {% endfor %}
 



        <script src="{{ url_for('static', filename='jsFiles/homepage.js') }}"></script>

	</body>
</html>
